In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
goals = pd.read_csv('epl_goals.csv')
goals.head()

   match_id  team_id  goal_number  player1_id  player2_id goal_type
0     49337    10261            1     37799.0     38807.0    header
1     49337    10260            2     24148.0     24154.0      shot
2     38136     9825            1     26181.0     39297.0      shot
3     43276     8650            1     30853.0     30889.0  distance
4     40671     8654            1     23139.0     36394.0      shot

In [3]:
goals.shape

(7561, 6)

In [4]:
goals = goals.dropna()

In [5]:
ids = pd.read_csv('matches2014_2015_id.csv')

In [6]:
goals = goals[goals["match_id"].isin(ids["match_id"])]

In [7]:
goals["player1_id"] = goals["player1_id"].astype(int)

In [8]:
goals["player2_id"] = goals["player2_id"].astype(int)

In [9]:
goals.shape

(665, 6)

In [10]:
goals.rename(columns={'player1_id': 'scorer_id', 'player2_id': 'assistant_id'})

      match_id  team_id  goal_number  scorer_id  assistant_id goal_type
6540     41101     9826            1      26777         35345    header
6541     41101     9825            4      46539         50047    header
6543     43485     8191            1      37240         24372      shot
6545     43485     8455            7     178812         30613    tap_in
6546     43485     8455           10      31306         30613    tap_in
...        ...      ...          ...        ...           ...       ...
7553     40230    10261            7     479020        199834    header
7556     45930     8659            7      25666         23257    header
7558     59737     8654            1      41232        195927    tap_in
7559     59737     8654            4     192899        155782    header
7560     59737     8456            7      37459         33991      shot

[665 rows x 6 columns]

In [11]:
goals.to_csv('cleaned_goals.csv', index=False)