In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
Shots = pd.read_csv('epl_potential_shots.csv')
Shots.head()

   match_id  team_id  shot_number  player1_id     shot_type
0     49337    10260            1     24154.0  blocked_shot
1     49337    10260            2     24157.0        header
2     49337    10260            3     30829.0          shot
3     49337    10260            4     30373.0          shot
4     49337    10260            5     30373.0      distance

In [3]:
for col in Shots.columns:
    if Shots[col].isna().sum() > 0:
        print(F"{col} has {Shots[col].isna().sum()} missing values")

player1_id has 267 missing values
shot_type has 10 missing values

In [4]:
Shots = Shots.dropna()

In [5]:
Shots

       match_id  team_id  shot_number  player1_id        shot_type
0         49337    10260            1     24154.0     blocked_shot
1         49337    10260            2     24157.0           header
2         49337    10260            3     30829.0             shot
3         49337    10260            4     30373.0             shot
4         49337    10260            5     30373.0         distance
...         ...      ...          ...         ...              ...
31771     59737     8456           25     37412.0     blocked_shot
31772     59737     8456           28     36615.0  big chance shot
31773     59737     8456           31     37412.0     blocked_shot
31774     59737     8654           34     37169.0             shot
31775     59737     8456           37     92666.0         distance

[31502 rows x 5 columns]

In [6]:
Shots.isna().any()

match_id       False
team_id        False
shot_number    False
player1_id     False
shot_type      False
dtype: bool

In [7]:
ids = pd.read_csv("matches2014_2015_id.csv")

In [8]:
Shots = Shots[Shots["match_id"].isin(ids["match_id"])]

In [9]:
Shots["player1_id"] = Shots["player1_id"].astype(int)

C:\Users\Filip Letmanov\AppData\Local\Temp\ipykernel_13392\2837584957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Shots["player1_id"] = Shots["player1_id"].astype(int)

In [10]:
Shots

       match_id  team_id  shot_number  player1_id        shot_type
27307     41101     9825            1       75489     blocked_shot
27308     41101     9825            4      192921         distance
27309     41101     9825            7      143793             shot
27310     41101     9826           10       25537     blocked_shot
27311     41101     9825           13       75489     blocked_shot
...         ...      ...          ...         ...              ...
31771     59737     8456           25       37412     blocked_shot
31772     59737     8456           28       36615  big chance shot
31773     59737     8456           31       37412     blocked_shot
31774     59737     8654           34       37169             shot
31775     59737     8456           37       92666         distance

[4468 rows x 5 columns]

In [11]:
Shots.rename(columns={"player1_id": "Striker_id"})

       match_id  team_id  shot_number  Striker_id        shot_type
27307     41101     9825            1       75489     blocked_shot
27308     41101     9825            4      192921         distance
27309     41101     9825            7      143793             shot
27310     41101     9826           10       25537     blocked_shot
27311     41101     9825           13       75489     blocked_shot
...         ...      ...          ...         ...              ...
31771     59737     8456           25       37412     blocked_shot
31772     59737     8456           28       36615  big chance shot
31773     59737     8456           31       37412     blocked_shot
31774     59737     8654           34       37169             shot
31775     59737     8456           37       92666         distance

[4468 rows x 5 columns]

In [12]:
Shots['shot_type'].unique()

array(['blocked_shot', 'distance', 'shot', 'deflected', 'big chance shot',
       'volley', 'direct_freekick', 'header', 'big chance blocked',
       'blocked_header', 'big chance header', 'bicycle_kick',
       'big chance volley', 'lob', 'indirect freekick',
       'big chance bicycle'], dtype=object)

In [13]:
Shots.to_csv('cleaned_shots.csv', index=False)

In [15]:
cleaned = pd.read_csv("cleaned_shots.csv")

In [16]:
cleaned["shot_type"].unique()

array(['blocked_shot', 'distance', 'shot', 'deflected', 'big chance shot',
       'volley', 'direct_freekick', 'header', 'big chance blocked',
       'blocked_header', 'big chance header', 'bicycle_kick',
       'big chance volley', 'lob', 'indirect freekick',
       'big chance bicycle'], dtype=object)