In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
players = pd.read_csv('epl_players.csv')
matches_train = pd.read_csv('epl_matches_train.csv')

In [3]:
matches_train

,season,stage,date,match_id,home_team_id,away_team_id,home_player_X1,home_player_X2,home_player_X3,home_player_X4,...,red_card_home_team,red_card_away_team,crosses_home_team,crosses_away_team,corner_home_team,corner_away_team,possession_home_team,possession_away_team,home_team_goal,away_team_goal
0,2008/2009,1,2008-08-17 00:00:00,49337,10260,10261,1,2,4,6,...,0,0,24,9,6,6,55.0,45.0,1,1
1,2008/2009,1,2008-08-16 00:00:00,38136,9825,8659,1,2,4,6,...,0,0,21,7,7,5,66.0,34.0,1,0
2,2008/2009,1,2008-08-16 00:00:00,43276,8472,8650,1,2,4,6,...,0,0,15,19,1,8,46.0,54.0,0,1
3,2008/2009,1,2008-08-16 00:00:00,40671,8654,8528,1,2,4,6,...,0,0,15,27,6,10,52.0,48.0,2,1
4,2008/2009,1,2008-08-17 00:00:00,34633,10252,8456,1,2,4,6,...,0,0,16,16,7,8,52.0,48.0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,2014/2015,9,2014-10-25 00:00:00,48955,8472,9825,1,2,4,6,...,0,0,14,21,3,3,39.0,61.0,0,2
2656,2014/2015,9,2014-10-25 00:00:00,38293,10003,8197,1,2,4,6,...,0,0,10,10,2,2,49.0,51.0,2,0
2657,2014/2015,9,2014-10-26 00:00:00,40230,8586,10261,1,2,4,6,...,0,0,29,11,10,2,68.0,32.0,1,2
2658,2014/2015,9,2014-10-25 00:00:00,45930,8659,9826,1,2,4,6,...,0,0,27,7,6,3,69.0,31.0,2,2
2659,2014/2015,9,2014-10-25 00:00:00,59737,8654,8456,1,2,4,6,...,0,0,26,17,4,8,31.0,69.0,2,1

In [3]:
matches_train = matches_train.drop_duplicates()

In [4]:
player_cols = [col for col in matches_train.columns if "player" in col]
matches_train = matches_train.drop(columns=player_cols, errors="ignore")

In [5]:
matches_train = matches_train.dropna(subset=["home_team_goal", "away_team_goal"])

In [7]:
matches_train.describe()

,stage,match_id,home_team_id,away_team_id,on_target_shot_home_team,on_target_shot_away_team,off_target_shot_home_team,off_target_shot_away_team,foul_home_team,foul_away_team,...,red_card_home_team,red_card_away_team,crosses_home_team,crosses_away_team,corner_home_team,corner_away_team,possession_home_team,possession_away_team,home_team_goal,away_team_goal
count,2660.000000,2660.000000,2660.000000,2660.000000,2660.000000,2660.000000,2660.000000,2660.000000,2660.000000,2660.000000,...,2660.000000,2660.000000,2660.000000,2660.000000,2660.000000,2660.000000,2654.000000,2654.000000,2660.000000,2660.000000
mean,19.500000,45085.953759,9132.392857,9132.392857,6.674812,5.271053,6.683459,5.272932,10.769549,11.387218,...,0.040977,0.054511,21.314662,16.516541,6.154135,4.802256,51.670309,48.329691,1.559398,1.152632
std,10.967918,8613.793831,751.438707,751.438707,3.488967,2.936303,3.107663,2.703601,3.552419,3.724388,...,0.200163,0.236796,8.888885,7.524719,3.132693,2.748037,8.383175,8.383175,1.318942,1.144346
min,1.000000,30005.000000,8191.000000,8191.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,4.000000,20.000000,0.000000,0.000000
25%,10.000000,37774.000000,8528.000000,8528.000000,4.000000,3.000000,4.000000,3.000000,8.000000,9.000000,...,0.000000,0.000000,15.000000,11.000000,4.000000,3.000000,46.000000,43.000000,1.000000,0.000000
50%,19.500000,45113.500000,8658.500000,8658.500000,6.000000,5.000000,6.000000,5.000000,11.000000,11.000000,...,0.000000,0.000000,21.000000,16.000000,6.000000,4.000000,52.000000,48.000000,1.000000,1.000000
75%,29.000000,52499.750000,9879.000000,9879.000000,9.000000,7.000000,9.000000,7.000000,13.000000,14.000000,...,0.000000,0.000000,26.000000,21.000000,8.000000,6.000000,57.000000,54.000000,2.000000,2.000000
max,38.000000,59992.000000,10261.000000,10261.000000,26.000000,19.000000,21.000000,19.000000,26.000000,25.000000,...,2.000000,2.000000,72.000000,55.000000,20.000000,19.000000,80.000000,96.000000,9.000000,6.000000

In [6]:
matches_train["date"] = pd.to_datetime(matches_train["date"], errors='coerce')

In [9]:
matches_train.isna().any()

season                       False
stage                        False
date                         False
match_id                     False
home_team_id                 False
away_team_id                 False
on_target_shot_home_team     False
on_target_shot_away_team     False
off_target_shot_home_team    False
off_target_shot_away_team    False
foul_home_team               False
foul_away_team               False
yellow_card_home_team        False
yellow_card_away_team        False
red_card_home_team           False
red_card_away_team           False
crosses_home_team            False
crosses_away_team            False
corner_home_team             False
corner_away_team             False
possession_home_team          True
possession_away_team          True
home_team_goal               False
away_team_goal               False
dtype: bool

In [7]:
matches_train = matches_train.dropna()

In [10]:
matches_train

,season,stage,date,match_id,home_team_id,away_team_id,on_target_shot_home_team,on_target_shot_away_team,off_target_shot_home_team,off_target_shot_away_team,...,red_card_home_team,red_card_away_team,crosses_home_team,crosses_away_team,corner_home_team,corner_away_team,possession_home_team,possession_away_team,home_team_goal,away_team_goal
0,2008/2009,1,2008-08-17,49337,10260,10261,11,1,10,9,...,0,0,24,9,6,6,55.0,45.0,1,1
1,2008/2009,1,2008-08-16,38136,9825,8659,12,2,13,3,...,0,0,21,7,7,5,66.0,34.0,1,0
2,2008/2009,1,2008-08-16,43276,8472,8650,4,11,3,5,...,0,0,15,19,1,8,46.0,54.0,0,1
3,2008/2009,1,2008-08-16,40671,8654,8528,5,7,7,15,...,0,0,15,27,6,10,52.0,48.0,2,1
4,2008/2009,1,2008-08-17,34633,10252,8456,5,9,4,5,...,0,0,16,16,7,8,52.0,48.0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,2014/2015,9,2014-10-25,48955,8472,9825,4,5,3,9,...,0,0,14,21,3,3,39.0,61.0,0,2
2656,2014/2015,9,2014-10-25,38293,10003,8197,2,4,5,4,...,0,0,10,10,2,2,49.0,51.0,2,0
2657,2014/2015,9,2014-10-26,40230,8586,10261,8,2,9,4,...,0,0,29,11,10,2,68.0,32.0,1,2
2658,2014/2015,9,2014-10-25,45930,8659,9826,7,7,8,2,...,0,0,27,7,6,3,69.0,31.0,2,2
2659,2014/2015,9,2014-10-25,59737,8654,8456,4,9,6,13,...,0,0,26,17,4,8,31.0,69.0,2,1

In [8]:
matches_train.to_csv('cleaned_training_matches.csv', index=False)

In [12]:
n = pd.read_csv('cleaned_training_matches.csv')

In [13]:
n.columns

Index(['season', 'stage', 'date', 'match_id', 'home_team_id', 'away_team_id',
       'on_target_shot_home_team', 'on_target_shot_away_team',
       'off_target_shot_home_team', 'off_target_shot_away_team',
       'foul_home_team', 'foul_away_team', 'yellow_card_home_team',
       'yellow_card_away_team', 'red_card_home_team', 'red_card_away_team',
       'crosses_home_team', 'crosses_away_team', 'corner_home_team',
       'corner_away_team', 'possession_home_team', 'possession_away_team',
       'home_team_goal', 'away_team_goal'],
      dtype='object')